<template>
    <div class="header">
        <Logo />
        <p class = "nom">BERRY NEWS</p>
    </div>
</template>

<script>
    import Logo from "@/components/commons/content/Logo.vue"

    export default {
        name: "Header",
        components:
        {
            Logo
        }
    }
</script>

<style scoped>
    .header {
        display: flex;
        position: relative;

        align-items: center;
        justify-content: flex-start; 

        background-color: #2c2c2c;

        width: 100%;
        height: 80px;

        color: beige;

        text-align: center;
    }
    .nom
    {
        margin-left: 10px;
    }
</style>