<template>
  <div class="main">
    <Thumbnail :imgName="`thumbnail-1.jpg`" :title="`Avocadi ou Avocado?`" :articleId="`0`" />
    <Thumbnail :imgName="`thumbnail-2.jpg`" :title="`Les bleuets, s'pas pire!`" :articleId="`1`" />
    <Thumbnail :imgName="`thumbnail-3.jpg`" :title="`Je me sens fraise`" :articleId="`2`" />
    <Thumbnail :imgName="`thumbnail-4.jpg`" :title="`Regardez mes mûres!`" :articleId="`3`" />
    <Thumbnail :imgName="`thumbnail-5.jpg`" :title="`Framboise recherchée`" :articleId="`4`" />
    <Thumbnail :imgName="`thumbnail-6.jpg`" :title="`L'orange, une baie?`" :articleId="`5`" />
    <Thumbnail :imgName="`thumbnail-7.jpg`" :title="`Les ghettos gouteux`" :articleId="`6`" />
    <Thumbnail :imgName="`thumbnail-8.jpg`" :title="`Les services funéraires`" :articleId="`7`" />
    
  </div>
</template>

<script>
import Thumbnail from "@/components/commons/content/Thumbnail.vue";

export default {
  name: "Main",
  components:{
    Thumbnail
  },
};
</script>

<style scoped>

.main {
  position:relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1280px;
}
</style>