<template>
    <div class="home">
        <Main />
        <Footer />
    </div>
</template>

<script>
    import Main from "@/components/Main.vue"
    import Footer from "@/components/Footer.vue"

    export default {
        name: "Home",
        components: {
            Main,
            Footer
        }
    }
</script>

<style scoped>
    .home {
        display:flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #3B3F48;
        width: 100%;
    }
</style>
