<template>
    <div class="home">
        <ArticleMain />
        <Footer />
    </div>
</template>

<script>
    import ArticleMain from "@/components/ContenuArticles/ArticleMain.vue"
    import Footer from "@/components/Footer.vue"

    export default {
        name: "Article",
        components: {
            ArticleMain,
            Footer
        }
    }
</script>

<style scoped>
    .home {
        background-color: #3B3F48;
        width: 100%;
    }
</style>
