<template>
  <div>
      <div class="auteur" v-html="nomAuteur"></div>
      <div class="date" v-html="date"></div>

  </div>
</template>

<script>
export default {
  name: "Auteur",
  props:
  {
    nomAuteur: String,
    date: String
  }
};
</script>

<style scoped>
    .auteur
    {
      font-size: 20px;
      width: 100%;
      text-align:right;
    }

    .date
    {
      font-size: 10px;
      width:100%;
      text-align:right;
      color:darkgrey;
    }
</style>