<template>
  <div class="content">
    <div class="separator">
      <div class="separator-border"></div>
    </div>
    <ContentHeader :title="title" :imgurl="imgurl"/>
    <Auteur :nomAuteur="nomAuteur" :date="date"/>
    <ContentArticle v-bind:text="text" />
    <ContentComment />
  </div>
</template>

<script>
import ContentHeader from "@/components/commons/content/ContentHeader.vue";
import ContentArticle from "@/components/commons/content/ContentArticle.vue";
import ContentComment from "@/components/commons/content/ContentComment.vue";
import Auteur from "@/components/commons/content/Auteur.vue"

export default {
  name: "Content",
  components: {
    ContentArticle,
    ContentHeader,
    ContentComment,
    Auteur
  },
  props: {
    text: String,
    title: String,
    nomAuteur: String,
    date: String,
    imgurl: String
  }
};
</script>

<style scoped>
.content .separator {
  width: 100%;
  box-sizing: border-box;
  padding-left: 80px;
  padding-right: 80px;
}

.content .separator .separator-border {
  border-top: black solid 1px;
}
</style>