<template>
  <router-link :to="{name: 'article', params: {id: articleId}}">
    <div class="thumbnail">
      <img class="image" :src="require(`../../../assets/${imgName}`)"/>
      <div class ="overlay">
        <div class = "container-titre">
          <p v-html="title"></p>
        </div>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  name: "Thumbnail",
  props:
  {
    imgName: String,
    title: String,
    articleId: String
  },
  methods:
  {
    redirectToArticle(e)
    {
      this.$router.push({name: "article", params:{ id: this.$props.articleId } });
      e.preventDefault();
    }
  }
};
</script>

<style scoped>
    .thumbnail {
      position:relative;
      width: 250px;
      height: 250px;
      margin:75px;
    }

    .thumbnail:hover .overlay
    {
      opacity: 0.8;
    }

    .overlay
    {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: lightgray;
      left:0;
      top:0;
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      text-align: center;
    }

    .container-titre
    {
      position:relative;
      width: 100%;
      background-color:darkslateblue;
      height: 30px;
      top: 197px;
      font-size: 24px;
      color:#E7E6E6;

    }

    .image
    {
      width: 250px;
      height: 250px;
    }

</style>